{%extends 'base.html'%}
{% block content %} 
<main>
   <!-- ======= Resume Section ======= -->
   <section id="resume" class="resume">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="section-title">
            <h2>Resume</h2>
            <p>An experienced Software developer, Accountant
                and a Financial and Data analyst who is self-
                motivated, honest, a team player and reliable with a
                drive to undertake new challenges. High sense of
                responsibility, adapt easily to various working
                environments, flexible and initiative to work
                independently and as part of the team. Able to cope
                up with harsh working environment by learning
                new things fast through adapting and employing
                creative and enthusiastic problem-solving
                techniques.develop
                positive relationship with clients and colleagues at
                institutional and organizational levels.</p>
                <p>I am currently learning programming at Moringa School to develop my skills in Software Development.</p>
          </div>
    
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
    
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Software Development</h4>
                <h5>July 2021 - Present</h5>
                <p><em>Moringa School</em></p>
                <p>Moringa School offers opportunity for career advancement in Computer Programming, producing graduands with remarkable performance in Software Engineering.</p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Science in Financial Engineering</h4>
                <h5>2016 - 2020</h5>
                <p><em>Jomo Kenyatta University of Agriculture and Technology</em></p>
                <p>I did my Bachelor's degree at Jomo Kenyatta University of Agriculture and Technology and graduated on April 2021. The course equiped me with knowledge in applying math, statistics, computer science, economic theory, and other quantitative methods to analyzing and modelling markets</p>
              </div>
              <div class="resume-item">
                <h4>KCSE</h4>
                <h5>2012 - 2015</h5>
                <p><em>Concord Boy's School</em></p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Industrial Attachment</h4>
                <h5>May 2019 – August 2019</h5>
                <p><em>The National Treasury Eldoret West Sub-County.</em></p>
                <ul>
                  <li>Receiving and examination of payment vouchers.</li>
                  <li>Writing payment vouchers,</li>
                  <li>Posting and balancing of cash books</li>
                  <li>Receiving and Posting of Authority to incur Expenditure(A.I.E)</li>
                  <li>Bank Account Reconciliation.</li>
                  <li>Receiving payments of land fees and issuing official receipts to clients</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Resume Section -->
</main>
{% endblock %}